<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Добро пожаловать, {{ user.username }}!</h3>
            </div>
            <div class="card-body">
                <p>Ваша роль: <strong>{{ user.get_role_display }}</strong></p>

                {% if user.is_recruiter and not user.is_manager and not user.is_admin %}
                <div class="alert alert-info">
                    <h5>Доступные действия для рекрутера:</h5>
                    <ul>
                        <li>Просмотр кандидатов</li>
                        <li>Добавление новых кандидатов</li>
                        <li>Редактирование информации о кандидатах</li>
                    </ul>
                </div>
                {% endif %}

                {% if user.is_manager and not user.is_admin %}
                <div class="alert alert-warning">
                    <h5>Доступные действия для менеджера:</h5>
                    <ul>
                        <li>Все действия рекрутера</li>
                        <li>Просмотр аналитики</li>
                        <li>Управление вакансиями</li>
                    </ul>
                </div>
                {% endif %}

                {% if user.is_admin %}
                <div class="alert alert-success">
                    <h5>Доступные действия для администратора:</h5>
                    <ul>
                        <li>Все действия менеджера</li>
                        <li>Управление пользователями</li>
                        <li>Системные настройки</li>
                        <li>Доступ к админке Django</li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}